@use "./variables";

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: variables.$mainBackground;
  font-family: Robot;
}

button {
  outline: inherit;
  border: none;
  cursor: pointer;
  background-color: variables.$mainColor;
  color: variables.$whiteColor;
  border-radius: 3px;
  padding: 10px;
  align-self: center;
  width: 150px;
  margin-top: 10px;
}

input {
  background-color: inherit;
  outline: inherit;
  outline: inherit;
  border: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}
